.product-container{
    margin-top: 130px;
    margin-left: 40px;
}

.order-product-btn{
    background-color:rgb(49, 34, 34) !important;
    color:white !important;
    margin-left: 50px !important;
}

.product-price-btn {
    color:red !important;
}

.order-product-btn, .product-price-btn{
    margin-top: 15px !important;
    font-size: 20px !important;
}